{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django-allauth tutorial</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Include Bootstrap JS -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
    <main>
        {% if messages %}
            <div>
                <ul>
                {% for message in messages %}
                    <li>{{message}}</li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}
        
        {% block content %}
        
        {% endblock content %}
    </main>
</body>
</html>